alertsAPI/flightAlertsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v1.api.alerts.flightstats.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://v1.api.alerts.flightstats.com/" name="FlightAlertsV1SoapService">
<types>
<xsd:schema>
<xsd:import namespace="http://v1.api.alerts.flightstats.com/" schemaLocation="E:/wamp/www/flightStatApiPhpClass/alertsAPI/flightAlertsService.xsd" />
</xsd:schema>
</types>
<message name="byRouteDeparture">
<part name="parameters" element="tns:byRouteDeparture" />
</message>
<message name="byRouteDepartureResponse">
<part name="parameters" element="tns:byRouteDepartureResponse" />
</message>
<message name="APIException">
<part name="fault" element="tns:APIException" />
</message>
<message name="byRouteArrival">
<part name="parameters" element="tns:byRouteArrival" />
</message>
<message name="byRouteArrivalResponse">
<part name="parameters" element="tns:byRouteArrivalResponse" />
</message>
<message name="getById">
<part name="parameters" element="tns:getById" />
</message>
<message name="getByIdResponse">
<part name="parameters" element="tns:getByIdResponse" />
</message>
<message name="deleteById">
<part name="parameters" element="tns:deleteById" />
</message>
<message name="deleteByIdResponse">
<part name="parameters" element="tns:deleteByIdResponse" />
</message>
<message name="byArrivingFlight">
<part name="parameters" element="tns:byArrivingFlight" />
</message>
<message name="byArrivingFlightResponse">
<part name="parameters" element="tns:byArrivingFlightResponse" />
</message>
<message name="listRuleIDs">
<part name="parameters" element="tns:listRuleIDs" />
</message>
<message name="listRuleIDsResponse">
<part name="parameters" element="tns:listRuleIDsResponse" />
</message>
<message name="listRuleIDsLessThan">
<part name="parameters" element="tns:listRuleIDsLessThan" />
</message>
<message name="listRuleIDsLessThanResponse">
<part name="parameters" element="tns:listRuleIDsLessThanResponse" />
</message>
<message name="byDepartingFlight">
<part name="parameters" element="tns:byDepartingFlight" />
</message>
<message name="byDepartingFlightResponse">
<part name="parameters" element="tns:byDepartingFlightResponse" />
</message>
<portType name="flightAlertsService">
<operation name="byRouteDeparture">
<input wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/byRouteDepartureRequest" message="tns:byRouteDeparture" />
<output wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/byRouteDepartureResponse" message="tns:byRouteDepartureResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/byRouteDeparture/Fault/APIException" />
</operation>
<operation name="byRouteArrival">
<input wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/byRouteArrivalRequest" message="tns:byRouteArrival" />
<output wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/byRouteArrivalResponse" message="tns:byRouteArrivalResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/byRouteArrival/Fault/APIException" />
</operation>
<operation name="getById">
<input wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/getByIdRequest" message="tns:getById" />
<output wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/getByIdResponse" message="tns:getByIdResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/getById/Fault/APIException" />
</operation>
<operation name="deleteById">
<input wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/deleteByIdRequest" message="tns:deleteById" />
<output wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/deleteByIdResponse" message="tns:deleteByIdResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/deleteById/Fault/APIException" />
</operation>
<operation name="byArrivingFlight">
<input wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/byArrivingFlightRequest" message="tns:byArrivingFlight" />
<output wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/byArrivingFlightResponse" message="tns:byArrivingFlightResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/byArrivingFlight/Fault/APIException" />
</operation>
<operation name="listRuleIDs">
<input wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/listRuleIDsRequest" message="tns:listRuleIDs" />
<output wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/listRuleIDsResponse" message="tns:listRuleIDsResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/listRuleIDs/Fault/APIException" />
</operation>
<operation name="listRuleIDsLessThan">
<input wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/listRuleIDsLessThanRequest" message="tns:listRuleIDsLessThan" />
<output wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/listRuleIDsLessThanResponse" message="tns:listRuleIDsLessThanResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/listRuleIDsLessThan/Fault/APIException" />
</operation>
<operation name="byDepartingFlight">
<input wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/byDepartingFlightRequest" message="tns:byDepartingFlight" />
<output wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/byDepartingFlightResponse" message="tns:byDepartingFlightResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.api.alerts.flightstats.com/flightAlertsService/byDepartingFlight/Fault/APIException" />
</operation>
</portType>
<binding name="flightAlertsServicePortBinding" type="tns:flightAlertsService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="byRouteDeparture">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="byRouteArrival">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="getById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="deleteById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="byArrivingFlight">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="listRuleIDs">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="listRuleIDsLessThan">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="byDepartingFlight">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
</binding>
<service name="FlightAlertsV1SoapService">
<port name="flightAlertsServicePort" binding="tns:flightAlertsServicePortBinding">
<soap:address location="https://api.flightstats.com:443/flex/alerts/soap/v1/flightAlertsService" />
</port>
</service>
</definitions>