flightStatusTrackAPI/byRoute/routeService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v2.api_internal.flighthistory.cache.conducivetech.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://v2.api_internal.flighthistory.cache.conducivetech.com/" name="RouteSoapApiService">
<types>
<xsd:schema>
<xsd:import namespace="http://v2.api_internal.flighthistory.cache.conducivetech.com/" schemaLocation="E:/wamp/www/signsmart2/protected/vendors/flightStatAPI/flightStatusTrackAPI/byRoute/routeService.xsd" />
</xsd:schema>
</types>
<message name="routeStatus_departing">
<part name="parameters" element="tns:routeStatus_departing" />
</message>
<message name="routeStatus_departingResponse">
<part name="parameters" element="tns:routeStatus_departingResponse" />
</message>
<message name="APIException">
<part name="fault" element="tns:APIException" />
</message>
<message name="routeStatus_arriving">
<part name="parameters" element="tns:routeStatus_arriving" />
</message>
<message name="routeStatus_arrivingResponse">
<part name="parameters" element="tns:routeStatus_arrivingResponse" />
</message>
<portType name="routeService">
<operation name="routeStatus_departing">
<input wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/routeService/routeStatus_departingRequest" message="tns:routeStatus_departing" />
<output wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/routeService/routeStatus_departingResponse" message="tns:routeStatus_departingResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/routeService/routeStatus_departing/Fault/APIException" />
</operation>
<operation name="routeStatus_arriving">
<input wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/routeService/routeStatus_arrivingRequest" message="tns:routeStatus_arriving" />
<output wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/routeService/routeStatus_arrivingResponse" message="tns:routeStatus_arrivingResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/routeService/routeStatus_arriving/Fault/APIException" />
</operation>
</portType>
<binding name="routeServicePortBinding" type="tns:routeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="routeStatus_departing">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="routeStatus_arriving">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
</binding>
<service name="RouteSoapApiService">
<port name="routeServicePort" binding="tns:routeServicePortBinding">
<soap:address location="https://api.flightstats.com:443/flex/flightstatus/soap/v2/routeService" />
</port>
</service>
</definitions>