flightStatusTrackAPI/fleet/fleetService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v2.api_internal.flighthistory.cache.conducivetech.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://v2.api_internal.flighthistory.cache.conducivetech.com/" name="FleetSoapApiService">
<types>
<xsd:schema>
<xsd:import namespace="http://v2.api_internal.flighthistory.cache.conducivetech.com/" schemaLocation="E:/wamp/www/signsmart2/protected/vendors/flightStatAPI/flightStatusTrackAPI/fleet/fleetService.xsd" />
</xsd:schema>
</types>
<message name="fleetStatus_dep">
<part name="parameters" element="tns:fleetStatus_dep" />
</message>
<message name="fleetStatus_depResponse">
<part name="parameters" element="tns:fleetStatus_depResponse" />
</message>
<message name="APIException">
<part name="fault" element="tns:APIException" />
</message>
<message name="fleetTracks">
<part name="parameters" element="tns:fleetTracks" />
</message>
<message name="fleetTracksResponse">
<part name="parameters" element="tns:fleetTracksResponse" />
</message>
<portType name="fleetService">
<operation name="fleetStatus_dep">
<input wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/fleetService/fleetStatus_depRequest" message="tns:fleetStatus_dep" />
<output wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/fleetService/fleetStatus_depResponse" message="tns:fleetStatus_depResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/fleetService/fleetStatus_dep/Fault/APIException" />
</operation>
<operation name="fleetTracks">
<input wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/fleetService/fleetTracksRequest" message="tns:fleetTracks" />
<output wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/fleetService/fleetTracksResponse" message="tns:fleetTracksResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/fleetService/fleetTracks/Fault/APIException" />
</operation>
</portType>
<binding name="fleetServicePortBinding" type="tns:fleetService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="fleetStatus_dep">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="fleetTracks">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
</binding>
<service name="FleetSoapApiService">
<port name="fleetServicePort" binding="tns:fleetServicePortBinding">
<soap:address location="https://api.flightstats.com:443/flex/flightstatus/soap/v2/fleetService" />
</port>
</service>
</definitions>