flightStatusTrackAPI/flightNears/flightsNearService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v2.api_internal.flighthistory.cache.conducivetech.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://v2.api_internal.flighthistory.cache.conducivetech.com/" name="FlightsNearSoapApiService">
<types>
<xsd:schema>
<xsd:import namespace="http://v2.api_internal.flighthistory.cache.conducivetech.com/" schemaLocation="E:/wamp/www/signsmart2/protected/vendors/flightStatAPI/flightStatusTrackAPI/flightNears/flightsNearService.xsd" />
</xsd:schema>
</types>
<message name="flightsNear_box">
<part name="parameters" element="tns:flightsNear_box" />
</message>
<message name="flightsNear_boxResponse">
<part name="parameters" element="tns:flightsNear_boxResponse" />
</message>
<message name="APIException">
<part name="fault" element="tns:APIException" />
</message>
<message name="flightsNear_radius">
<part name="parameters" element="tns:flightsNear_radius" />
</message>
<message name="flightsNear_radiusResponse">
<part name="parameters" element="tns:flightsNear_radiusResponse" />
</message>
<portType name="flightsNearService">
<operation name="flightsNear_box">
<input wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightsNearService/flightsNear_boxRequest" message="tns:flightsNear_box" />
<output wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightsNearService/flightsNear_boxResponse" message="tns:flightsNear_boxResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightsNearService/flightsNear_box/Fault/APIException" />
</operation>
<operation name="flightsNear_radius">
<input wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightsNearService/flightsNear_radiusRequest" message="tns:flightsNear_radius" />
<output wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightsNearService/flightsNear_radiusResponse" message="tns:flightsNear_radiusResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightsNearService/flightsNear_radius/Fault/APIException" />
</operation>
</portType>
<binding name="flightsNearServicePortBinding" type="tns:flightsNearService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="flightsNear_box">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="flightsNear_radius">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
</binding>
<service name="FlightsNearSoapApiService">
<port name="flightsNearServicePort" binding="tns:flightsNearServicePortBinding">
<soap:address location="https://api.flightstats.com:443/flex/flightstatus/soap/v2/flightsNearService" />
</port>
</service>
</definitions>