connectionsAPI/schedulesConnectionsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v1.api.connections.conducivetech.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://v1.api.connections.conducivetech.com/" name="ScheduleConnectionsV1SoapService">
<types>
<xsd:schema>
<xsd:import namespace="http://v1.api.connections.conducivetech.com/" schemaLocation="E:/wamp/www/flightStatApiPhpClass/connectionsAPI/schedulesConnectionsService.xsd" />
</xsd:schema>
</types>
<message name="directFlightsDepartingAirport">
<part name="parameters" element="tns:directFlightsDepartingAirport" />
</message>
<message name="directFlightsDepartingAirportResponse">
<part name="parameters" element="tns:directFlightsDepartingAirportResponse" />
</message>
<message name="APIException">
<part name="fault" element="tns:APIException" />
</message>
<message name="directFlightsArrivingAirport">
<part name="parameters" element="tns:directFlightsArrivingAirport" />
</message>
<message name="directFlightsArrivingAirportResponse">
<part name="parameters" element="tns:directFlightsArrivingAirportResponse" />
</message>
<message name="directFlightsDepartingOnDate">
<part name="parameters" element="tns:directFlightsDepartingOnDate" />
</message>
<message name="directFlightsDepartingOnDateResponse">
<part name="parameters" element="tns:directFlightsDepartingOnDateResponse" />
</message>
<message name="directFlightsArriving">
<part name="parameters" element="tns:directFlightsArriving" />
</message>
<message name="directFlightsArrivingResponse">
<part name="parameters" element="tns:directFlightsArrivingResponse" />
</message>
<message name="directFlightsDeparting">
<part name="parameters" element="tns:directFlightsDeparting" />
</message>
<message name="directFlightsDepartingResponse">
<part name="parameters" element="tns:directFlightsDepartingResponse" />
</message>
<message name="directFlightsArrivingOnDate">
<part name="parameters" element="tns:directFlightsArrivingOnDate" />
</message>
<message name="directFlightsArrivingOnDateResponse">
<part name="parameters" element="tns:directFlightsArrivingOnDateResponse" />
</message>
<message name="connectingFlightsForRouteByDeparture">
<part name="parameters" element="tns:connectingFlightsForRouteByDeparture" />
</message>
<message name="connectingFlightsForRouteByDepartureResponse">
<part name="parameters" element="tns:connectingFlightsForRouteByDepartureResponse" />
</message>
<message name="connectingFlightsForRouteByArrival">
<part name="parameters" element="tns:connectingFlightsForRouteByArrival" />
</message>
<message name="connectingFlightsForRouteByArrivalResponse">
<part name="parameters" element="tns:connectingFlightsForRouteByArrivalResponse" />
</message>
<portType name="scheduleConnectionsService">
<operation name="directFlightsDepartingAirport">
<input wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/directFlightsDepartingAirportRequest" message="tns:directFlightsDepartingAirport" />
<output wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/directFlightsDepartingAirportResponse" message="tns:directFlightsDepartingAirportResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/directFlightsDepartingAirport/Fault/APIException" />
</operation>
<operation name="directFlightsArrivingAirport">
<input wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/directFlightsArrivingAirportRequest" message="tns:directFlightsArrivingAirport" />
<output wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/directFlightsArrivingAirportResponse" message="tns:directFlightsArrivingAirportResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/directFlightsArrivingAirport/Fault/APIException" />
</operation>
<operation name="directFlightsDepartingOnDate">
<input wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/directFlightsDepartingOnDateRequest" message="tns:directFlightsDepartingOnDate" />
<output wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/directFlightsDepartingOnDateResponse" message="tns:directFlightsDepartingOnDateResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/directFlightsDepartingOnDate/Fault/APIException" />
</operation>
<operation name="directFlightsArriving">
<input wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/directFlightsArrivingRequest" message="tns:directFlightsArriving" />
<output wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/directFlightsArrivingResponse" message="tns:directFlightsArrivingResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/directFlightsArriving/Fault/APIException" />
</operation>
<operation name="directFlightsDeparting">
<input wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/directFlightsDepartingRequest" message="tns:directFlightsDeparting" />
<output wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/directFlightsDepartingResponse" message="tns:directFlightsDepartingResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/directFlightsDeparting/Fault/APIException" />
</operation>
<operation name="directFlightsArrivingOnDate">
<input wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/directFlightsArrivingOnDateRequest" message="tns:directFlightsArrivingOnDate" />
<output wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/directFlightsArrivingOnDateResponse" message="tns:directFlightsArrivingOnDateResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/directFlightsArrivingOnDate/Fault/APIException" />
</operation>
<operation name="connectingFlightsForRouteByDeparture">
<input wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/connectingFlightsForRouteByDepartureRequest" message="tns:connectingFlightsForRouteByDeparture" />
<output wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/connectingFlightsForRouteByDepartureResponse" message="tns:connectingFlightsForRouteByDepartureResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/connectingFlightsForRouteByDeparture/Fault/APIException" />
</operation>
<operation name="connectingFlightsForRouteByArrival">
<input wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/connectingFlightsForRouteByArrivalRequest" message="tns:connectingFlightsForRouteByArrival" />
<output wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/connectingFlightsForRouteByArrivalResponse" message="tns:connectingFlightsForRouteByArrivalResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.api.connections.conducivetech.com/scheduleConnectionsService/connectingFlightsForRouteByArrival/Fault/APIException" />
</operation>
</portType>
<binding name="scheduleConnectionsServicePortBinding" type="tns:scheduleConnectionsService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="directFlightsDepartingAirport">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="directFlightsArrivingAirport">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="directFlightsDepartingOnDate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="directFlightsArriving">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="directFlightsDeparting">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="directFlightsArrivingOnDate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="connectingFlightsForRouteByDeparture">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="connectingFlightsForRouteByArrival">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
</binding>
<service name="ScheduleConnectionsV1SoapService">
<port name="scheduleConnectionsServicePort" binding="tns:scheduleConnectionsServicePortBinding">
<soap:address location="https://api.flightstats.com:443/flex/connections/soap/v1/schedulesConnectionsService" />
</port>
</service>
</definitions>