connectionsAPI/schedulesConnectionsService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://v1.api.connections.conducivetech.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://v1.api.connections.conducivetech.com/">

<xs:element name="APIException" type="tns:APIException" />

<xs:element name="airline" type="tns:airlineV1" />

<xs:element name="airport" type="tns:airportV1" />

<xs:element name="apiResponseError" type="tns:apiResponseError" />

<xs:element name="appendix" type="tns:appendices" />

<xs:element name="connectingFlightsForRouteByArrival" type="tns:connectingFlightsForRouteByArrival" />

<xs:element name="connectingFlightsForRouteByArrivalResponse" type="tns:connectingFlightsForRouteByArrivalResponse" />

<xs:element name="connectingFlightsForRouteByDeparture" type="tns:connectingFlightsForRouteByDeparture" />

<xs:element name="connectingFlightsForRouteByDepartureResponse" type="tns:connectingFlightsForRouteByDepartureResponse" />

<xs:element name="directFlightsArriving" type="tns:directFlightsArriving" />

<xs:element name="directFlightsArrivingAirport" type="tns:directFlightsArrivingAirport" />

<xs:element name="directFlightsArrivingAirportResponse" type="tns:directFlightsArrivingAirportResponse" />

<xs:element name="directFlightsArrivingOnDate" type="tns:directFlightsArrivingOnDate" />

<xs:element name="directFlightsArrivingOnDateResponse" type="tns:directFlightsArrivingOnDateResponse" />

<xs:element name="directFlightsArrivingResponse" type="tns:directFlightsArrivingResponse" />

<xs:element name="directFlightsDeparting" type="tns:directFlightsDeparting" />

<xs:element name="directFlightsDepartingAirport" type="tns:directFlightsDepartingAirport" />

<xs:element name="directFlightsDepartingAirportResponse" type="tns:directFlightsDepartingAirportResponse" />

<xs:element name="directFlightsDepartingOnDate" type="tns:directFlightsDepartingOnDate" />

<xs:element name="directFlightsDepartingOnDateResponse" type="tns:directFlightsDepartingOnDateResponse" />

<xs:element name="directFlightsDepartingResponse" type="tns:directFlightsDepartingResponse" />

<xs:element name="equipment" type="tns:equipmentV1" />

<xs:element name="flight" type="tns:flightV1" />

<xs:element name="rating" type="tns:ratingV1" />

<xs:element name="request" nillable="true" type="xs:anyType" />

<xs:element name="response" nillable="true" type="xs:anyType" />

<xs:complexType name="directFlightsDeparting">
<xs:sequence>
<xs:element name="appId" type="xs:string" />
<xs:element name="appKey" type="xs:string" />
<xs:element name="carrier" type="xs:string" />
<xs:element name="flightNumber" type="xs:string" />
<xs:element name="year" type="xs:int" />
<xs:element name="month" type="xs:int" />
<xs:element name="day" type="xs:int" />
<xs:element name="days" type="xs:int" minOccurs="0" />
<xs:element name="codeshareType" type="xs:string" minOccurs="0" />
<xs:element name="serviceType" type="xs:string" minOccurs="0" />
<xs:element name="flightType" type="xs:string" minOccurs="0" />
<xs:element name="codeType" type="xs:string" minOccurs="0" />
<xs:element name="extendedOptions" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="directFlightsDepartingResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseFlight" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="responseFlight">
<xs:complexContent>
<xs:extension base="tns:flightResponseV1">
<xs:sequence>
<xs:element name="request" type="tns:requestFlight" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="flightResponseV1" abstract="true">
<xs:sequence>
<xs:element name="flights" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="flight" type="tns:flightV1" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="appendix" type="tns:appendices" minOccurs="0" />
<xs:element name="error" type="tns:apiResponseError" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestFlight">
<xs:complexContent>
<xs:extension base="tns:requestBase">
<xs:sequence>
<xs:element name="carrier" type="tns:requestedAirlineV1" minOccurs="0" />
<xs:element name="flightNumber" type="tns:requestedFlightNumber" minOccurs="0" />
<xs:element name="airportOrMetro" type="tns:requestedAirportOrMetro" minOccurs="0" />
<xs:element name="date" type="tns:requestedDate" minOccurs="0" />
<xs:element name="days" type="tns:requestedInteger" minOccurs="0" />
<xs:element name="codeshareType" type="tns:requestedEnum" minOccurs="0" />
<xs:element name="serviceType" type="tns:requestedEnum" minOccurs="0" />
<xs:element name="flightType" type="tns:requestedEnum" minOccurs="0" />
<xs:element name="codeType" type="tns:requestedString" minOccurs="0" />
<xs:element name="extendedOptions" type="tns:requestedString" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="requestBase" abstract="true">
<xs:sequence>
<xs:element name="url" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestedAirlineV1">
<xs:sequence>
<xs:element name="requestedCode" type="xs:string" minOccurs="0" />
<xs:element name="fsCode" type="xs:string" minOccurs="0" />
<xs:element name="airline" type="tns:airlineV1" minOccurs="0" />
<xs:element name="error" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="airlineV1">
<xs:sequence>
<xs:element name="fs" type="xs:string" />
<xs:element name="iata" type="xs:string" minOccurs="0" />
<xs:element name="icao" type="xs:string" minOccurs="0" />
<xs:element name="name" type="xs:string" />
<xs:element name="phoneNumber" type="xs:string" minOccurs="0" />
<xs:element name="active" type="xs:boolean" />
<xs:element name="dateFrom" type="xs:string" minOccurs="0" />
<xs:element name="dateTo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestedFlightNumber">
<xs:complexContent>
<xs:extension base="tns:requestedString">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="requestedString">
<xs:sequence>
<xs:element name="requested" type="xs:string" minOccurs="0" />
<xs:element name="interpreted" type="xs:string" minOccurs="0" />
<xs:element name="error" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestedAirportOrMetro">
<xs:sequence>
<xs:element name="airport" type="tns:requestedAirportV1" minOccurs="0" />
<xs:element name="metro" type="tns:requestedString" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestedAirportV1">
<xs:sequence>
<xs:element name="requestedCode" type="xs:string" minOccurs="0" />
<xs:element name="fsCode" type="xs:string" minOccurs="0" />
<xs:element name="airport" type="tns:airportV1" minOccurs="0" />
<xs:element name="error" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="airportV1">
<xs:sequence>
<xs:element name="fs" type="xs:string" />
<xs:element name="iata" type="xs:string" minOccurs="0" />
<xs:element name="icao" type="xs:string" minOccurs="0" />
<xs:element name="faa" type="xs:string" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="street1" type="xs:string" minOccurs="0" />
<xs:element name="street2" type="xs:string" minOccurs="0" />
<xs:element name="city" type="xs:string" />
<xs:element name="cityCode" type="xs:string" minOccurs="0" />
<xs:element name="district" type="xs:string" minOccurs="0" />
<xs:element name="stateCode" type="xs:string" minOccurs="0" />
<xs:element name="postalCode" type="xs:string" minOccurs="0" />
<xs:element name="countryCode" type="xs:string" />
<xs:element name="countryName" type="xs:string" />
<xs:element name="regionName" type="xs:string" />
<xs:element name="timeZoneRegionName" type="xs:string" />
<xs:element name="weatherZone" type="xs:string" minOccurs="0" />
<xs:element name="localTime" type="xs:string" />
<xs:element name="utcOffsetHours" type="xs:double" />
<xs:element name="latitude" type="xs:double" />
<xs:element name="longitude" type="xs:double" />
<xs:element name="elevationFeet" type="xs:int" minOccurs="0" />
<xs:element name="classification" type="xs:int" />
<xs:element name="active" type="xs:boolean" />
<xs:element name="dateFrom" type="xs:string" minOccurs="0" />
<xs:element name="dateTo" type="xs:string" minOccurs="0" />
<xs:element name="delayIndexUrl" type="xs:string" minOccurs="0" />
<xs:element name="weatherUrl" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestedDate">
<xs:sequence>
<xs:element name="year" type="xs:string" minOccurs="0" />
<xs:element name="month" type="xs:string" minOccurs="0" />
<xs:element name="day" type="xs:string" minOccurs="0" />
<xs:element name="interpreted" type="xs:string" minOccurs="0" />
<xs:element name="error" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestedInteger">
<xs:sequence>
<xs:element name="requested" type="xs:string" minOccurs="0" />
<xs:element name="interpreted" type="xs:int" minOccurs="0" />
<xs:element name="error" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestedEnum">
<xs:complexContent>
<xs:extension base="tns:requestedString">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="flightV1">
<xs:sequence>
<xs:element name="departureAirport" type="tns:airportV1" minOccurs="0" />
<xs:element name="departureAirportFsCode" type="xs:string" minOccurs="0" />
<xs:element name="arrivalAirport" type="tns:airportV1" minOccurs="0" />
<xs:element name="arrivalAirportFsCode" type="xs:string" minOccurs="0" />
<xs:element name="departureDateFrom" type="xs:string" />
<xs:element name="departureDateTo" type="xs:string" />
<xs:element name="departureDaysOfWeek">
<xs:complexType>
<xs:sequence>
<xs:element name="dayOfWeek" type="xs:int" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="arrivalDateAdjustment" type="xs:int" />
<xs:element name="departureTime" type="xs:string" />
<xs:element name="arrivalTime" type="xs:string" />
<xs:element name="distanceMiles" type="xs:int" />
<xs:element name="flightDurationMinutes" type="xs:int" />
<xs:element name="layoverDurationMinutes" type="xs:int" />
<xs:element name="flightType" type="tns:flightType" />
<xs:element name="serviceType" type="tns:simpleServiceType" />
<xs:element name="online" type="xs:boolean" />
<xs:element name="flightLegs">
<xs:complexType>
<xs:sequence>
<xs:element name="flightLeg" type="tns:flightLegV1" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightLegV1">
<xs:sequence>
<xs:element name="departureAirport" type="tns:airportV1" minOccurs="0" />
<xs:element name="departureAirportFsCode" type="xs:string" minOccurs="0" />
<xs:element name="arrivalAirport" type="tns:airportV1" minOccurs="0" />
<xs:element name="arrivalAirportFsCode" type="xs:string" minOccurs="0" />
<xs:element name="departureTime" type="xs:string" />
<xs:element name="arrivalTime" type="xs:string" />
<xs:element name="departureDateAdjustment" type="xs:int" />
<xs:element name="arrivalDateAdjustment" type="xs:int" />
<xs:element name="departureTerminal" type="xs:string" minOccurs="0" />
<xs:element name="arrivalTerminal" type="xs:string" minOccurs="0" />
<xs:element name="carrier" type="tns:airlineV1" minOccurs="0" />
<xs:element name="carrierFsCode" type="xs:string" minOccurs="0" />
<xs:element name="flightNumber" type="xs:string" />
<xs:element name="wetleaseInfo" type="xs:string" minOccurs="0" />
<xs:element name="codeshare" type="xs:boolean" />
<xs:element name="operator" type="tns:flightIdV1" minOccurs="0" />
<xs:element name="codeshares" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="codeshare" type="tns:flightIdV1" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="stops" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="stop" type="tns:airportV1" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="stopCodes" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="fsCode" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="equipment">
<xs:complexType>
<xs:sequence>
<xs:element name="equip" type="tns:equipmentV1" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="equipmentCodes">
<xs:complexType>
<xs:sequence>
<xs:element name="iataCode" type="xs:string" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="distanceMiles" type="xs:int" />
<xs:element name="flightDurationMinutes" type="xs:int" />
<xs:element name="layoverDurationMinutes" type="xs:int" />
<xs:element name="ratings" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="rating" type="tns:ratingV1" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightIdV1">
<xs:sequence>
<xs:element name="carrier" type="tns:airlineV1" minOccurs="0" />
<xs:element name="carrierFsCode" type="xs:string" minOccurs="0" />
<xs:element name="flightNumber" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="equipmentV1">
<xs:sequence>
<xs:element name="iata" type="xs:string" />
<xs:element name="name" type="xs:string" />
<xs:element name="turboProp" type="xs:boolean" />
<xs:element name="jet" type="xs:boolean" />
<xs:element name="widebody" type="xs:boolean" />
<xs:element name="regional" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ratingV1">
<xs:sequence>
<xs:element name="departureAirport" type="tns:airportV1" minOccurs="0" />
<xs:element name="departureAirportFsCode" type="xs:string" minOccurs="0" />
<xs:element name="arrivalAirport" type="tns:airportV1" minOccurs="0" />
<xs:element name="arrivalAirportFsCode" type="xs:string" minOccurs="0" />
<xs:element name="airline" type="tns:airlineV1" minOccurs="0" />
<xs:element name="airlineFsCode" type="xs:string" minOccurs="0" />
<xs:element name="flightNumber" type="xs:string" minOccurs="0" />
<xs:element name="codeshares" type="xs:int" />
<xs:element name="directs" type="xs:int" />
<xs:element name="observations" type="xs:int" />
<xs:element name="ontime" type="xs:int" />
<xs:element name="late15" type="xs:int" />
<xs:element name="late30" type="xs:int" />
<xs:element name="late45" type="xs:int" />
<xs:element name="cancelled" type="xs:int" />
<xs:element name="diverted" type="xs:int" />
<xs:element name="ontimePercent" type="xs:double" />
<xs:element name="delayObservations" type="xs:int" />
<xs:element name="delayMean" type="xs:double" />
<xs:element name="delayStandardDeviation" type="xs:double" />
<xs:element name="delayMin" type="xs:int" />
<xs:element name="delayMax" type="xs:int" />
<xs:element name="allOntimeCumulative" type="xs:double" />
<xs:element name="allOntimeStars" type="xs:double" />
<xs:element name="allDelayCumulative" type="xs:double" />
<xs:element name="allDelayStars" type="xs:double" />
<xs:element name="allStars" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="appendices">
<xs:sequence>
<xs:element name="airlines" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="airline" type="tns:airlineV1" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="airports" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="airport" type="tns:airportV1" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="equipments" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="equipment" type="tns:equipmentV1" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="apiResponseError">
<xs:sequence>
<xs:element name="httpStatusCode" type="xs:int" />
<xs:element name="errorCode" type="xs:string" minOccurs="0" />
<xs:element name="errorId" type="xs:string" minOccurs="0" />
<xs:element name="errorMessage" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="APIException">
<xs:sequence>
<xs:element name="httpStatusCode" type="xs:int" />
<xs:element name="errorCode" type="xs:string" minOccurs="0" />
<xs:element name="errorId" type="xs:string" minOccurs="0" />
<xs:element name="errorMessage" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="connectingFlightsForRouteByDeparture">
<xs:sequence>
<xs:element name="appId" type="xs:string" />
<xs:element name="appKey" type="xs:string" />
<xs:element name="departureCode" type="xs:string" />
<xs:element name="arrivalCode" type="xs:string" />
<xs:element name="year" type="xs:int" />
<xs:element name="month" type="xs:int" />
<xs:element name="day" type="xs:int" />
<xs:element name="days" type="xs:int" minOccurs="0" />
<xs:element name="carriers" type="xs:string" minOccurs="0" />
<xs:element name="allowedConnections" type="xs:string" minOccurs="0" />
<xs:element name="excludedConnections" type="xs:string" minOccurs="0" />
<xs:element name="connectionType" type="xs:string" minOccurs="0" />
<xs:element name="codeshareType" type="xs:string" minOccurs="0" />
<xs:element name="serviceType" type="xs:string" minOccurs="0" />
<xs:element name="flightType" type="xs:string" minOccurs="0" />
<xs:element name="codeType" type="xs:string" minOccurs="0" />
<xs:element name="extendedOptions" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="connectingFlightsForRouteByDepartureResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseRoute" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="responseRoute">
<xs:complexContent>
<xs:extension base="tns:flightResponseV1">
<xs:sequence>
<xs:element name="request" type="tns:requestRoute" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="requestRoute">
<xs:complexContent>
<xs:extension base="tns:requestBase">
<xs:sequence>
<xs:element name="departure" type="tns:requestedAirportOrMetro" minOccurs="0" />
<xs:element name="arrival" type="tns:requestedAirportOrMetro" minOccurs="0" />
<xs:element name="date" type="tns:requestedDate" minOccurs="0" />
<xs:element name="days" type="tns:requestedInteger" minOccurs="0" />
<xs:element name="carriers" type="tns:requestedAirlineV1" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="allowedConnections" type="tns:requestedAirportV1" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="excludedConnections" type="tns:requestedAirportV1" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="connectionType" type="tns:requestedEnum" minOccurs="0" />
<xs:element name="codeshareType" type="tns:requestedEnum" minOccurs="0" />
<xs:element name="serviceType" type="tns:requestedEnum" minOccurs="0" />
<xs:element name="flightType" type="tns:requestedEnum" minOccurs="0" />
<xs:element name="codeType" type="tns:requestedString" minOccurs="0" />
<xs:element name="extendedOptions" type="tns:requestedString" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="directFlightsDepartingOnDate">
<xs:sequence>
<xs:element name="appId" type="xs:string" />
<xs:element name="appKey" type="xs:string" />
<xs:element name="departureCode" type="xs:string" />
<xs:element name="year" type="xs:int" />
<xs:element name="month" type="xs:int" />
<xs:element name="day" type="xs:int" />
<xs:element name="carriers" type="xs:string" minOccurs="0" />
<xs:element name="codeshareType" type="xs:string" minOccurs="0" />
<xs:element name="serviceType" type="xs:string" minOccurs="0" />
<xs:element name="flightType" type="xs:string" minOccurs="0" />
<xs:element name="codeType" type="xs:string" minOccurs="0" />
<xs:element name="extendedOptions" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="directFlightsDepartingOnDateResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseAirport" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="responseAirport">
<xs:complexContent>
<xs:extension base="tns:flightResponseV1">
<xs:sequence>
<xs:element name="request" type="tns:requestAirport" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="requestAirport">
<xs:complexContent>
<xs:extension base="tns:requestBase">
<xs:sequence>
<xs:element name="airportOrMetro" type="tns:requestedAirportOrMetro" minOccurs="0" />
<xs:element name="date" type="tns:requestedDate" minOccurs="0" />
<xs:element name="carriers" type="tns:requestedAirlineV1" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="codeshareType" type="tns:requestedEnum" minOccurs="0" />
<xs:element name="serviceType" type="tns:requestedEnum" minOccurs="0" />
<xs:element name="flightType" type="tns:requestedEnum" minOccurs="0" />
<xs:element name="codeType" type="tns:requestedString" minOccurs="0" />
<xs:element name="extendedOptions" type="tns:requestedString" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="directFlightsArriving">
<xs:sequence>
<xs:element name="appId" type="xs:string" />
<xs:element name="appKey" type="xs:string" />
<xs:element name="carrier" type="xs:string" />
<xs:element name="flightNumber" type="xs:string" />
<xs:element name="year" type="xs:int" />
<xs:element name="month" type="xs:int" />
<xs:element name="day" type="xs:int" />
<xs:element name="days" type="xs:int" minOccurs="0" />
<xs:element name="codeshareType" type="xs:string" minOccurs="0" />
<xs:element name="serviceType" type="xs:string" minOccurs="0" />
<xs:element name="flightType" type="xs:string" minOccurs="0" />
<xs:element name="codeType" type="xs:string" minOccurs="0" />
<xs:element name="extendedOptions" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="directFlightsArrivingResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseFlight" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="connectingFlightsForRouteByArrival">
<xs:sequence>
<xs:element name="appId" type="xs:string" />
<xs:element name="appKey" type="xs:string" />
<xs:element name="departureCode" type="xs:string" />
<xs:element name="arrivalCode" type="xs:string" />
<xs:element name="year" type="xs:int" />
<xs:element name="month" type="xs:int" />
<xs:element name="day" type="xs:int" />
<xs:element name="days" type="xs:int" minOccurs="0" />
<xs:element name="carriers" type="xs:string" minOccurs="0" />
<xs:element name="allowedConnections" type="xs:string" minOccurs="0" />
<xs:element name="excludedConnections" type="xs:string" minOccurs="0" />
<xs:element name="connectionType" type="xs:string" minOccurs="0" />
<xs:element name="codeshareType" type="xs:string" minOccurs="0" />
<xs:element name="serviceType" type="xs:string" minOccurs="0" />
<xs:element name="flightType" type="xs:string" minOccurs="0" />
<xs:element name="codeType" type="xs:string" minOccurs="0" />
<xs:element name="extendedOptions" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="connectingFlightsForRouteByArrivalResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseRoute" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="directFlightsArrivingOnDate">
<xs:sequence>
<xs:element name="appId" type="xs:string" />
<xs:element name="appKey" type="xs:string" />
<xs:element name="arrivalCode" type="xs:string" />
<xs:element name="year" type="xs:int" />
<xs:element name="month" type="xs:int" />
<xs:element name="day" type="xs:int" />
<xs:element name="carriers" type="xs:string" minOccurs="0" />
<xs:element name="codeshareType" type="xs:string" minOccurs="0" />
<xs:element name="serviceType" type="xs:string" minOccurs="0" />
<xs:element name="flightType" type="xs:string" minOccurs="0" />
<xs:element name="codeType" type="xs:string" minOccurs="0" />
<xs:element name="extendedOptions" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="directFlightsArrivingOnDateResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseAirport" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="directFlightsDepartingAirport">
<xs:sequence>
<xs:element name="appId" type="xs:string" />
<xs:element name="appKey" type="xs:string" />
<xs:element name="carrier" type="xs:string" />
<xs:element name="flightNumber" type="xs:string" />
<xs:element name="departureCode" type="xs:string" />
<xs:element name="year" type="xs:int" />
<xs:element name="month" type="xs:int" />
<xs:element name="day" type="xs:int" />
<xs:element name="days" type="xs:int" minOccurs="0" />
<xs:element name="codeshareType" type="xs:string" minOccurs="0" />
<xs:element name="serviceType" type="xs:string" minOccurs="0" />
<xs:element name="flightType" type="xs:string" minOccurs="0" />
<xs:element name="codeType" type="xs:string" minOccurs="0" />
<xs:element name="extendedOptions" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="directFlightsDepartingAirportResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseFlight" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="directFlightsArrivingAirport">
<xs:sequence>
<xs:element name="appId" type="xs:string" />
<xs:element name="appKey" type="xs:string" />
<xs:element name="carrier" type="xs:string" />
<xs:element name="flightNumber" type="xs:string" />
<xs:element name="arrivalCode" type="xs:string" />
<xs:element name="year" type="xs:int" />
<xs:element name="month" type="xs:int" />
<xs:element name="day" type="xs:int" />
<xs:element name="days" type="xs:int" minOccurs="0" />
<xs:element name="codeshareType" type="xs:string" minOccurs="0" />
<xs:element name="serviceType" type="xs:string" minOccurs="0" />
<xs:element name="flightType" type="xs:string" minOccurs="0" />
<xs:element name="codeType" type="xs:string" minOccurs="0" />
<xs:element name="extendedOptions" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="directFlightsArrivingAirportResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseFlight" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:simpleType name="flightType">
<xs:restriction base="xs:string">
<xs:enumeration value="DIRECT" />
<xs:enumeration value="NON_STOP" />
<xs:enumeration value="CONNECTION" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="simpleServiceType">
<xs:restriction base="xs:string">
<xs:enumeration value="PASSENGER_ONLY" />
<xs:enumeration value="MIXED_PASSENGER_CARGO" />
<xs:enumeration value="CARGO_ONLY" />
<xs:enumeration value="OTHER" />
</xs:restriction>
</xs:simpleType>
</xs:schema>