flightStatusTrackAPI/byFlight/flightService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v2.api_internal.flighthistory.cache.conducivetech.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://v2.api_internal.flighthistory.cache.conducivetech.com/" name="FlightSoapApiService">
<types>
<xsd:schema>
<xsd:import namespace="http://v2.api_internal.flighthistory.cache.conducivetech.com/" schemaLocation="E:/wamp/www/signsmart2/protected/vendors/flightStatAPI/flightStatusTrackAPI/byFlight/flightService.xsd" />
</xsd:schema>
</types>
<message name="flightStatus_arr">
<part name="parameters" element="tns:flightStatus_arr" />
</message>
<message name="flightStatus_arrResponse">
<part name="parameters" element="tns:flightStatus_arrResponse" />
</message>
<message name="APIException">
<part name="fault" element="tns:APIException" />
</message>
<message name="flightTrack_fhid">
<part name="parameters" element="tns:flightTrack_fhid" />
</message>
<message name="flightTrack_fhidResponse">
<part name="parameters" element="tns:flightTrack_fhidResponse" />
</message>
<message name="flightTrack_arr">
<part name="parameters" element="tns:flightTrack_arr" />
</message>
<message name="flightTrack_arrResponse">
<part name="parameters" element="tns:flightTrack_arrResponse" />
</message>
<message name="flightTrack_dep">
<part name="parameters" element="tns:flightTrack_dep" />
</message>
<message name="flightTrack_depResponse">
<part name="parameters" element="tns:flightTrack_depResponse" />
</message>
<message name="flightStatus_fhid">
<part name="parameters" element="tns:flightStatus_fhid" />
</message>
<message name="flightStatus_fhidResponse">
<part name="parameters" element="tns:flightStatus_fhidResponse" />
</message>
<message name="flightStatus_dep">
<part name="parameters" element="tns:flightStatus_dep" />
</message>
<message name="flightStatus_depResponse">
<part name="parameters" element="tns:flightStatus_depResponse" />
</message>
<portType name="flightService">
<operation name="flightStatus_arr">
<input wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightService/flightStatus_arrRequest" message="tns:flightStatus_arr" />
<output wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightService/flightStatus_arrResponse" message="tns:flightStatus_arrResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightService/flightStatus_arr/Fault/APIException" />
</operation>
<operation name="flightTrack_fhid">
<input wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightService/flightTrack_fhidRequest" message="tns:flightTrack_fhid" />
<output wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightService/flightTrack_fhidResponse" message="tns:flightTrack_fhidResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightService/flightTrack_fhid/Fault/APIException" />
</operation>
<operation name="flightTrack_arr">
<input wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightService/flightTrack_arrRequest" message="tns:flightTrack_arr" />
<output wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightService/flightTrack_arrResponse" message="tns:flightTrack_arrResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightService/flightTrack_arr/Fault/APIException" />
</operation>
<operation name="flightTrack_dep">
<input wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightService/flightTrack_depRequest" message="tns:flightTrack_dep" />
<output wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightService/flightTrack_depResponse" message="tns:flightTrack_depResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightService/flightTrack_dep/Fault/APIException" />
</operation>
<operation name="flightStatus_fhid">
<input wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightService/flightStatus_fhidRequest" message="tns:flightStatus_fhid" />
<output wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightService/flightStatus_fhidResponse" message="tns:flightStatus_fhidResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightService/flightStatus_fhid/Fault/APIException" />
</operation>
<operation name="flightStatus_dep">
<input wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightService/flightStatus_depRequest" message="tns:flightStatus_dep" />
<output wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightService/flightStatus_depResponse" message="tns:flightStatus_depResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/flightService/flightStatus_dep/Fault/APIException" />
</operation>
</portType>
<binding name="flightServicePortBinding" type="tns:flightService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="flightStatus_arr">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="flightTrack_fhid">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="flightTrack_arr">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="flightTrack_dep">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="flightStatus_fhid">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="flightStatus_dep">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
</binding>
<service name="FlightSoapApiService">
<port name="flightServicePort" binding="tns:flightServicePortBinding">
<soap:address location="https://api.flightstats.com:443/flex/flightstatus/soap/v2/flightService" />
</port>
</service>
</definitions>