ratingsAPI/ratingsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v1.service.ratings.cache.conducivetech.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://v1.service.ratings.cache.conducivetech.com/" name="RatingsV1SoapService">
<types>
<xsd:schema>
<xsd:import namespace="http://v1.service.ratings.cache.conducivetech.com/" schemaLocation="E:/wamp/www/flightStatApiPhpClass/ratingsAPI/ratingsService.xsd" />
</xsd:schema>
</types>
<message name="byFlight">
<part name="parameters" element="tns:byFlight" />
</message>
<message name="byFlightResponse">
<part name="parameters" element="tns:byFlightResponse" />
</message>
<message name="APIException">
<part name="fault" element="tns:APIException" />
</message>
<message name="byRoute">
<part name="parameters" element="tns:byRoute" />
</message>
<message name="byRouteResponse">
<part name="parameters" element="tns:byRouteResponse" />
</message>
<portType name="ratingsService">
<operation name="byFlight">
<input wsam:Action="http://v1.service.ratings.cache.conducivetech.com/ratingsService/byFlightRequest" message="tns:byFlight" />
<output wsam:Action="http://v1.service.ratings.cache.conducivetech.com/ratingsService/byFlightResponse" message="tns:byFlightResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.service.ratings.cache.conducivetech.com/ratingsService/byFlight/Fault/APIException" />
</operation>
<operation name="byRoute">
<input wsam:Action="http://v1.service.ratings.cache.conducivetech.com/ratingsService/byRouteRequest" message="tns:byRoute" />
<output wsam:Action="http://v1.service.ratings.cache.conducivetech.com/ratingsService/byRouteResponse" message="tns:byRouteResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.service.ratings.cache.conducivetech.com/ratingsService/byRoute/Fault/APIException" />
</operation>
</portType>
<binding name="ratingsServicePortBinding" type="tns:ratingsService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="byFlight">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="byRoute">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
</binding>
<service name="RatingsV1SoapService">
<port name="ratingsServicePort" binding="tns:ratingsServicePortBinding">
<soap:address location="https://api.flightstats.com:443/flex/ratings/soap/v1/ratingsService" />
</port>
</service>
</definitions>