schedulesAPI/scheduledFlightsService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://v1.service.schedules.flightstats.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://v1.service.schedules.flightstats.com/">

<xs:element name="APIException" type="tns:APIException" />

<xs:element name="Codeshare" type="tns:codeshareV1" />

<xs:element name="Operator" type="tns:operatorV1" />

<xs:element name="ScheduledFlight" type="tns:scheduledFlightV1" />

<xs:element name="airline" type="tns:airlineV1" />

<xs:element name="airport" type="tns:airportV1" />

<xs:element name="apiResponseError" type="tns:apiResponseError" />

<xs:element name="appendix" type="tns:appendices" />

<xs:element name="byAirport_Arriving" type="tns:byAirport_Arriving" />

<xs:element name="byAirport_ArrivingResponse" type="tns:byAirport_ArrivingResponse" />

<xs:element name="byAirport_Departing" type="tns:byAirport_Departing" />

<xs:element name="byAirport_DepartingResponse" type="tns:byAirport_DepartingResponse" />

<xs:element name="byFlight_Arriving" type="tns:byFlight_Arriving" />

<xs:element name="byFlight_ArrivingResponse" type="tns:byFlight_ArrivingResponse" />

<xs:element name="byFlight_Departing" type="tns:byFlight_Departing" />

<xs:element name="byFlight_DepartingResponse" type="tns:byFlight_DepartingResponse" />

<xs:element name="byRoute_Arriving" type="tns:byRoute_Arriving" />

<xs:element name="byRoute_ArrivingResponse" type="tns:byRoute_ArrivingResponse" />

<xs:element name="byRoute_Departing" type="tns:byRoute_Departing" />

<xs:element name="byRoute_DepartingResponse" type="tns:byRoute_DepartingResponse" />

<xs:element name="equipment" type="tns:equipmentV1" />

<xs:element name="request" nillable="true" type="xs:anyType" />

<xs:element name="response" nillable="true" type="xs:anyType" />

<xs:complexType name="byFlight_Arriving">
<xs:sequence>
<xs:element name="appId" type="xs:string" />
<xs:element name="appKey" type="xs:string" />
<xs:element name="carrier" type="xs:string" />
<xs:element name="flightnumber" type="xs:string" />
<xs:element name="year" type="xs:int" />
<xs:element name="month" type="xs:int" />
<xs:element name="day" type="xs:int" />
<xs:element name="codeType" type="xs:string" minOccurs="0" />
<xs:element name="extendedOptions" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="byFlight_ArrivingResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseByFlight" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="responseByFlight">
<xs:complexContent>
<xs:extension base="tns:responseBase">
<xs:sequence>
<xs:element name="request" type="tns:requestByFlight" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="responseBase">
<xs:sequence>
<xs:element name="scheduledFlights" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="scheduledFlight" type="tns:scheduledFlightV1" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="appendix" type="tns:appendices" minOccurs="0" />
<xs:element name="error" type="tns:apiResponseError" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestByFlight">
<xs:complexContent>
<xs:extension base="tns:requestBase">
<xs:sequence>
<xs:element name="carrier" type="tns:requestedAirlineV1" minOccurs="0" />
<xs:element name="codeType" type="tns:requestedString" minOccurs="0" />
<xs:element name="flightNumber" type="tns:requestedString" minOccurs="0" />
<xs:element name="departing" type="xs:boolean" />
<xs:element name="date" type="tns:requestedDate" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="requestBase">
<xs:sequence>
<xs:element name="url" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestedAirlineV1">
<xs:sequence>
<xs:element name="requestedCode" type="xs:string" minOccurs="0" />
<xs:element name="fsCode" type="xs:string" minOccurs="0" />
<xs:element name="airline" type="tns:airlineV1" minOccurs="0" />
<xs:element name="error" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="airlineV1">
<xs:sequence>
<xs:element name="fs" type="xs:string" />
<xs:element name="iata" type="xs:string" minOccurs="0" />
<xs:element name="icao" type="xs:string" minOccurs="0" />
<xs:element name="name" type="xs:string" />
<xs:element name="phoneNumber" type="xs:string" minOccurs="0" />
<xs:element name="active" type="xs:boolean" />
<xs:element name="dateFrom" type="xs:string" minOccurs="0" />
<xs:element name="dateTo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestedString">
<xs:sequence>
<xs:element name="requested" type="xs:string" minOccurs="0" />
<xs:element name="interpreted" type="xs:string" minOccurs="0" />
<xs:element name="error" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestedDate">
<xs:sequence>
<xs:element name="year" type="xs:string" minOccurs="0" />
<xs:element name="month" type="xs:string" minOccurs="0" />
<xs:element name="day" type="xs:string" minOccurs="0" />
<xs:element name="interpreted" type="xs:string" minOccurs="0" />
<xs:element name="error" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="scheduledFlightV1">
<xs:sequence>
<xs:element name="carrierFsCode" type="xs:string" minOccurs="0" />
<xs:element name="carrier" type="tns:airlineV1" minOccurs="0" />
<xs:element name="flightNumber" type="xs:string" />
<xs:element name="brand" type="xs:string" minOccurs="0" />
<xs:element name="departureAirport" type="tns:airportV1" minOccurs="0" />
<xs:element name="departureAirportFsCode" type="xs:string" minOccurs="0" />
<xs:element name="arrivalAirport" type="tns:airportV1" minOccurs="0" />
<xs:element name="arrivalAirportFsCode" type="xs:string" minOccurs="0" />
<xs:element name="stops" type="xs:int" />
<xs:element name="departureTerminal" type="xs:string" minOccurs="0" />
<xs:element name="arrivalTerminal" type="xs:string" minOccurs="0" />
<xs:element name="departureTime" type="xs:string" />
<xs:element name="arrivalTime" type="xs:string" />
<xs:element name="flightEquipmentIataCode" type="xs:string" minOccurs="0" />
<xs:element name="flightEquipment" type="tns:equipmentV1" minOccurs="0" />
<xs:element name="isCodeshare" type="xs:boolean" />
<xs:element name="isWetlease" type="xs:boolean" />
<xs:element name="serviceType" type="xs:string" />
<xs:element name="serviceClasses" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="serviceClass" type="xs:string" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="trafficRestrictions" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="trafficRestriction" type="xs:string" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="operator" type="tns:operatorV1" minOccurs="0" />
<xs:element name="codeshares" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="codeshare" type="tns:codeshareV1" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="wetleaseOperator" type="tns:airlineV1" minOccurs="0" />
<xs:element name="wetleaseOperatorFsCode" type="xs:string" minOccurs="0" />
<xs:element name="referenceCode" type="xs:string" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="airportV1">
<xs:sequence>
<xs:element name="fs" type="xs:string" />
<xs:element name="iata" type="xs:string" minOccurs="0" />
<xs:element name="icao" type="xs:string" minOccurs="0" />
<xs:element name="faa" type="xs:string" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="street1" type="xs:string" minOccurs="0" />
<xs:element name="street2" type="xs:string" minOccurs="0" />
<xs:element name="city" type="xs:string" />
<xs:element name="cityCode" type="xs:string" minOccurs="0" />
<xs:element name="stateCode" type="xs:string" minOccurs="0" />
<xs:element name="postalCode" type="xs:string" minOccurs="0" />
<xs:element name="countryCode" type="xs:string" />
<xs:element name="countryName" type="xs:string" />
<xs:element name="regionName" type="xs:string" />
<xs:element name="timeZoneRegionName" type="xs:string" />
<xs:element name="weatherZone" type="xs:string" minOccurs="0" />
<xs:element name="localTime" type="xs:string" />
<xs:element name="utcOffsetHours" type="xs:double" />
<xs:element name="latitude" type="xs:double" />
<xs:element name="longitude" type="xs:double" />
<xs:element name="elevationFeet" type="xs:int" minOccurs="0" />
<xs:element name="classification" type="xs:int" />
<xs:element name="active" type="xs:boolean" />
<xs:element name="dateFrom" type="xs:string" minOccurs="0" />
<xs:element name="dateTo" type="xs:string" minOccurs="0" />
<xs:element name="delayIndexUrl" type="xs:string" minOccurs="0" />
<xs:element name="weatherUrl" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="equipmentV1">
<xs:sequence>
<xs:element name="iata" type="xs:string" />
<xs:element name="name" type="xs:string" />
<xs:element name="turboProp" type="xs:boolean" />
<xs:element name="jet" type="xs:boolean" />
<xs:element name="widebody" type="xs:boolean" />
<xs:element name="regional" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="operatorV1">
<xs:sequence>
<xs:element name="carrierFsCode" type="xs:string" />
<xs:element name="flightNumber" type="xs:string" />
<xs:element name="serviceType" type="xs:string" minOccurs="0" />
<xs:element name="serviceClasses" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="serviceClass" type="xs:string" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="trafficRestrictions" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="trafficRestrictions" type="xs:string" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="codeshareV1">
<xs:sequence>
<xs:element name="carrier" type="tns:airlineV1" minOccurs="0" />
<xs:element name="carrierFsCode" type="xs:string" minOccurs="0" />
<xs:element name="flightNumber" type="xs:string" />
<xs:element name="serviceType" type="xs:string" minOccurs="0" />
<xs:element name="serviceClasses" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="serviceClass" type="xs:string" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="trafficRestrictions" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="trafficRestriction" type="xs:string" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="referenceCode" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="appendices">
<xs:sequence>
<xs:element name="airlines" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="airline" type="tns:airlineV1" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="airports" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="airport" type="tns:airportV1" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="equipments" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="equipment" type="tns:equipmentV1" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="apiResponseError">
<xs:sequence>
<xs:element name="httpStatusCode" type="xs:int" />
<xs:element name="errorCode" type="xs:string" minOccurs="0" />
<xs:element name="errorId" type="xs:string" minOccurs="0" />
<xs:element name="errorMessage" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="APIException">
<xs:sequence>
<xs:element name="httpStatusCode" type="xs:int" />
<xs:element name="errorCode" type="xs:string" minOccurs="0" />
<xs:element name="errorId" type="xs:string" minOccurs="0" />
<xs:element name="errorMessage" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="byAirport_Arriving">
<xs:sequence>
<xs:element name="appId" type="xs:string" />
<xs:element name="appKey" type="xs:string" />
<xs:element name="arrivalAirportCode" type="xs:string" />
<xs:element name="year" type="xs:int" />
<xs:element name="month" type="xs:int" />
<xs:element name="day" type="xs:int" />
<xs:element name="hourOfDay" type="xs:int" />
<xs:element name="codeType" type="xs:string" minOccurs="0" />
<xs:element name="extendedOptions" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="byAirport_ArrivingResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseByAirport" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="responseByAirport">
<xs:complexContent>
<xs:extension base="tns:responseBase">
<xs:sequence>
<xs:element name="request" type="tns:requestByAirport" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="requestByAirport">
<xs:complexContent>
<xs:extension base="tns:requestBase">
<xs:sequence>
<xs:element name="airport" type="tns:requestedAirportV1" minOccurs="0" />
<xs:element name="codeType" type="tns:requestedString" minOccurs="0" />
<xs:element name="departing" type="xs:boolean" />
<xs:element name="date" type="tns:requestedDate" minOccurs="0" />
<xs:element name="hourOfDay" type="tns:requestedInteger" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="requestedAirportV1">
<xs:sequence>
<xs:element name="requestedCode" type="xs:string" minOccurs="0" />
<xs:element name="fsCode" type="xs:string" minOccurs="0" />
<xs:element name="airport" type="tns:airportV1" minOccurs="0" />
<xs:element name="error" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestedInteger">
<xs:sequence>
<xs:element name="requested" type="xs:string" minOccurs="0" />
<xs:element name="interpreted" type="xs:int" minOccurs="0" />
<xs:element name="error" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="byRoute_Arriving">
<xs:sequence>
<xs:element name="appId" type="xs:string" />
<xs:element name="appKey" type="xs:string" />
<xs:element name="departureAirportCode" type="xs:string" />
<xs:element name="arrivalAirportCode" type="xs:string" />
<xs:element name="year" type="xs:int" />
<xs:element name="month" type="xs:int" />
<xs:element name="day" type="xs:int" />
<xs:element name="codeType" type="xs:string" minOccurs="0" />
<xs:element name="extendedOptions" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="byRoute_ArrivingResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseByRoute" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="responseByRoute">
<xs:complexContent>
<xs:extension base="tns:responseBase">
<xs:sequence>
<xs:element name="request" type="tns:requestByRoute" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="requestByRoute">
<xs:complexContent>
<xs:extension base="tns:requestBase">
<xs:sequence>
<xs:element name="departureAirport" type="tns:requestedAirportV1" minOccurs="0" />
<xs:element name="arrivalAirport" type="tns:requestedAirportV1" minOccurs="0" />
<xs:element name="codeType" type="tns:requestedString" minOccurs="0" />
<xs:element name="departing" type="xs:boolean" />
<xs:element name="date" type="tns:requestedDate" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="byRoute_Departing">
<xs:sequence>
<xs:element name="appId" type="xs:string" />
<xs:element name="appKey" type="xs:string" />
<xs:element name="departureAirportCode" type="xs:string" />
<xs:element name="arrivalAirportCode" type="xs:string" />
<xs:element name="year" type="xs:int" />
<xs:element name="month" type="xs:int" />
<xs:element name="day" type="xs:int" />
<xs:element name="codeType" type="xs:string" minOccurs="0" />
<xs:element name="extendedOptions" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="byRoute_DepartingResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseByRoute" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="byAirport_Departing">
<xs:sequence>
<xs:element name="appId" type="xs:string" />
<xs:element name="appKey" type="xs:string" />
<xs:element name="departureAirportCode" type="xs:string" />
<xs:element name="year" type="xs:int" />
<xs:element name="month" type="xs:int" />
<xs:element name="day" type="xs:int" />
<xs:element name="hourOfDay" type="xs:int" />
<xs:element name="codeType" type="xs:string" minOccurs="0" />
<xs:element name="extendedOptions" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="byAirport_DepartingResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseByAirport" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="byFlight_Departing">
<xs:sequence>
<xs:element name="appId" type="xs:string" />
<xs:element name="appKey" type="xs:string" />
<xs:element name="carrier" type="xs:string" />
<xs:element name="flightnumber" type="xs:string" />
<xs:element name="year" type="xs:int" />
<xs:element name="month" type="xs:int" />
<xs:element name="day" type="xs:int" />
<xs:element name="codeType" type="xs:string" minOccurs="0" />
<xs:element name="extendedOptions" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="byFlight_DepartingResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseByFlight" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>