delayIndexAPI/delayIndexService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v1.service.delayindex.cache.conducivetech.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://v1.service.delayindex.cache.conducivetech.com/" name="DelayIndexV1SoapService">
<types>
<xsd:schema>
<xsd:import namespace="http://v1.service.delayindex.cache.conducivetech.com/" schemaLocation="E:/wamp/www/flightStatApiPhpClass/delayIndexAPI/delayIndexService.xsd" />
</xsd:schema>
</types>
<message name="forAirport">
<part name="parameters" element="tns:forAirport" />
</message>
<message name="forAirportResponse">
<part name="parameters" element="tns:forAirportResponse" />
</message>
<message name="APIException">
<part name="fault" element="tns:APIException" />
</message>
<message name="forCountry">
<part name="parameters" element="tns:forCountry" />
</message>
<message name="forCountryResponse">
<part name="parameters" element="tns:forCountryResponse" />
</message>
<message name="forRegion">
<part name="parameters" element="tns:forRegion" />
</message>
<message name="forRegionResponse">
<part name="parameters" element="tns:forRegionResponse" />
</message>
<message name="forState">
<part name="parameters" element="tns:forState" />
</message>
<message name="forStateResponse">
<part name="parameters" element="tns:forStateResponse" />
</message>
<portType name="delayIndexService">
<operation name="forAirport">
<input wsam:Action="http://v1.service.delayindex.cache.conducivetech.com/delayIndexService/forAirportRequest" message="tns:forAirport" />
<output wsam:Action="http://v1.service.delayindex.cache.conducivetech.com/delayIndexService/forAirportResponse" message="tns:forAirportResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.service.delayindex.cache.conducivetech.com/delayIndexService/forAirport/Fault/APIException" />
</operation>
<operation name="forCountry">
<input wsam:Action="http://v1.service.delayindex.cache.conducivetech.com/delayIndexService/forCountryRequest" message="tns:forCountry" />
<output wsam:Action="http://v1.service.delayindex.cache.conducivetech.com/delayIndexService/forCountryResponse" message="tns:forCountryResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.service.delayindex.cache.conducivetech.com/delayIndexService/forCountry/Fault/APIException" />
</operation>
<operation name="forRegion">
<input wsam:Action="http://v1.service.delayindex.cache.conducivetech.com/delayIndexService/forRegionRequest" message="tns:forRegion" />
<output wsam:Action="http://v1.service.delayindex.cache.conducivetech.com/delayIndexService/forRegionResponse" message="tns:forRegionResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.service.delayindex.cache.conducivetech.com/delayIndexService/forRegion/Fault/APIException" />
</operation>
<operation name="forState">
<input wsam:Action="http://v1.service.delayindex.cache.conducivetech.com/delayIndexService/forStateRequest" message="tns:forState" />
<output wsam:Action="http://v1.service.delayindex.cache.conducivetech.com/delayIndexService/forStateResponse" message="tns:forStateResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v1.service.delayindex.cache.conducivetech.com/delayIndexService/forState/Fault/APIException" />
</operation>
</portType>
<binding name="delayIndexServicePortBinding" type="tns:delayIndexService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="forAirport">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="forCountry">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="forRegion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="forState">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
</binding>
<service name="DelayIndexV1SoapService">
<port name="delayIndexServicePort" binding="tns:delayIndexServicePortBinding">
<soap:address location="https://api.flightstats.com:443/flex/delayindex/soap/v1/delayIndexService" />
</port>
</service>
</definitions>